.user-card {
    margin: 10px;
    width: 345px;
    float: left;
}

.MuiCardMedia-img {
    max-width: 450px;
    max-height: 300px;
}

.detailButton {
    float: right;
    color: white;
}
 

/* .favoriteButton {

} */


/* 
user context at root of app
soon as login is successful return user obj in ap response
store in global state(context)
have access to the user throughout the app
 */