.login {
   padding-top: 50px;
   padding-bottom: 50px;
   display: grid;
   place-items: center;
   background-color: #171717;
 
 }
 
 .login > button {
   width: 300px;
   background-color:  #cbc4b3;
   color: #171717;
   font-weight: 900;
 }
 
 .login > button:hover {
   background-color: #52942b;
   color: #ffffff;
 }
 
