/* Add a black background color to the top navigation */
.topnav {
    background-color: #243221;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: darkslategray;
    color: white;
    text-decoration: underline;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #243221;
    color: white;
  }

  .topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 17px;
    background-color: #171717;
    color: white;
  }
